* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("img/bg.png");
}

.banner {
  background-color: #a99a86;
  border-radius: 10px;
  width: 1200px;
  height: 150px;
}

h1 {
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  position: relative;
  margin: 40px 0 10px 0;
}

a {
  text-align: center;
  font-size: 20px;
  position: relative;
  color: blue;
}

h2 {
  margin: 25px auto;
}

.box_a {
  background-color: #a99a86;
  border-radius: 10px;
  width: 400px;
  height: 80px;
}
