body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e5e4e2;
}

.banner {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.banner h1 {
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.rectangle {
    width: 300px;
    height: 90px;
    background-color: #ffcc00;
    border-radius: 10%;
    display: inline-block;
}

.rectangle_ {
    width: 300px;
    height: 90px;
    background-color: #ffcc00;
    border-radius: 10%;
    display: inline-block;
}

.rectangle- {
    width: 300px;
    height: 90px;
    background-color: #ffcc00;
    border-radius: 10%;
    display: inline-block;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
